H2 {
    color: aliceblue;
    text-align: center;
    border-top: 5px solid aqua;
    border-right: 5px solid aqua;
    border-bottom: 5px solid aqua;
    border-left: 5px solid aqua;
    background-color:aqua;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}